:root {
    --background-sidebar-width: 18.35%; /* Define a custom CSS variable for sidebar width */
    --sidebar-width: 15.5%;
    --main-width: 100%;
    --nav-top-height: 25%;
    --prop-parent-cont-height: 100vh;
    --prop-title-cont-height:6%;
    --prop-images-cont-height: 54%;
    --prop-desc-cont-height: 40%;
    --top-cont-height: 47.5%;
    --email-btn-cont-height: 5%;
    --bottom-cont-height: 47.5%;
    --rate-btn-cont-height: 7.4%;
    --left-box-width: 50%;
    --right-box-width: 50%;
    --btn-rate-prop-width: 8em;
    --btn-rate-prop-height: 4em;

    --sidebar-color: #202024;
    --main-color: #29292C;
    --container-box-color: #202024;
    --inner-box-color: #202024;
    --global-font-color: #D9D9D9;
  }

/* Reset some default margin and padding */
body {
    display: flex;
    flex-direction: row;
    // justify-content: right;
    // gap: 1em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--global-font-color);
    font-family: "Poppins", "Arial";
    font-size: 2vmin;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
/* This element sits behind the visible sidebar, with
the function of allowing flex to work with the main
element. */
.background-sidebar-container {
    width: var(--background-sidebar-width);
}

.sidebar {
    position: fixed; /* Make the sidebar position fixed */
    left: 0; /* Stick it to the left side of the screen */
    top: 0; /* Stick it to the top of the screen */
    width: var(--sidebar-width); /* Set the width of the sidebar as per your design */
    background-color: var(--sidebar-color); /* Background color for the sidebar */
    height: 100%; /* Make it cover the full height of the screen */
    /* overflow-y: auto; /* Add vertical scroll if the content overflows */
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-top: 2em;
}

.page-indicator-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.settings-container {
    margin-bottom: 2em;
}

main {
    width: var(--main-width);
    height: 100%;
    background-color: var(--main-color);
    // border: red 2px solid;
    display: flex;
    flex-direction: column;
}

.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6.5em;
    padding: 0 2em 0 2em;
}

.empty-div {
    border: red 2px solid;  
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #1b1bd3;
    width: 30%;
    margin-left: 22%;
    height: 40%;

    border-radius: 25px 15px;
    background-color: #AD5511;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-icon-container {
    display: flex;
    gap: 0.5em;
    margin-left: 1em;
}

.crab-logo {
    margin-right: 1em;
}

.profile-container {
    display: flex;
    width: 22%;
    justify-content: right;
}

.property-parent-container, .amenity-parent-container {
    justify-content: center;
    //border: rebeccapurple 2px solid;
    /* height: var(--nav-top-height); */
}

        
.property-parent-container {
    display: flex;
    justify-content: center;
    height: calc(var(--prop-parent-cont-height) - 12em);
    width: 100%; // If you set this to 100%, the page will have a horizontal scroll bar, idk how to fix
    gap: 2.41%;
    // border: green  2px solid;
}

.boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 94%;
    gap: 2em;
}

.left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--left-box-width);
    // border: orange 2px solid;
    background-color: var(--inner-box-color);
}

.prop-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--prop-title-cont-height);
}

.prop-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--prop-images-cont-height);
}

.prop-images {
    width: 90%;
    height: 100%;
    // border: rgb(55, 255, 255) 2px solid;
    background-color: #725151;
}

.prop-desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--prop-desc-cont-height);
    padding: 1em;
    // border: rgb(255, 255, 255) 2px solid;
}

.prop-desc {
    width: 90%;
    max-height: 90%; /* Set the maximum height at which scrolling will occur */
    overflow-y: auto; /* Enable vertical scrolling if necessary */
    //border: 1px solid #ccc; /* Optional: Just for visibility */
}
                
.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--right-box-width);
    // border: rgb(221, 2, 192) 2px solid;
    background-color: var(--inner-box-color);
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--top-cont-height);
    // height: 100%;
    gap: 2.5em;
    padding: 0 1.5em 0 1.5em;
    //border: pink 2px solid;
}

.agent-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.agent-title {
    text-align: center;
}

.agent-info-container {
    background-color: #29292C;
    padding: 1em;
    flex-grow: 1;
}

.contact-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.contact-title {
    text-align: center;
}

.contact-info-container {  
    display: flex;
    background-color: #29292C;
    padding: 1em;   
    height: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2em;

    #message {
        resize: none;
        height: 3em;
    }
    
}
                    
.email-btn-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: var(--email-btn-cont-height);
    margin: 0.5em 1.5em 0.5em 0;
    //border: #0dc29b 2px solid;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    height: var(--bottom-cont-height);
    //border: #3b74dd 2px solid;
}

.map-container {
    background-color: var(--main-color);
    width: 100%;
    height:82%;
    margin: 0 1.5em 0 1.5em;
    text-align: center;
}
      
.rate-prop-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.rate-property {
    width: var(--btn-rate-prop-width);
    height: var(--btn-rate-prop-height);
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.5em;
    background-color: #fff; /* Background color of the fixed element */
    padding: 10px; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for visual separation */

}

.amenity-parent-container {
    margin-top: 8em;
}

///////////////////////////////////////////////

a {
    text-decoration: none;
    color: var(--global-font-color);
}

@media screen and (max-width: 1333px) {
    .property-parent-container {
        height: auto;
    }

    .left-box, .right-box {
        height: 100%;
        width: 80%;
    }

    .boxes-container {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        gap: 2em;
        // height: 100%;
    }
}

// to make textarea for message in contact form responsive
// make a media query to 
// @media screen and (max-height: 854px) and (max-width: 1629px) {
//     .top-container {
//         height: 60%;
//     }
// }
