body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial";
  font-size: calc(8px + 0.9vw);
  color: var(--global-font-color);
  background-color: var(--main-color);
}

main {
  display: flex;
  flex-direction: column;
  width: var(--main-width);
  height: 100%;
  background-color: var(--main-color);
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0 0;
  height: 2em;
}
.nav-top #dashboardContainer {
  position: relative;
  justify-content: flex-end;
  display: flex;
}
.nav-top #dashboardContainer #openModalBtnDashboard {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.nav-top .profileContainer {
  position: relative;
  width: 10%;
}
.nav-top .profileContainer #openModalBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.nav-top .loginContainer {
  display: flex;
  position: relative;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8px;
  padding-right: 18px;
}
.nav-top .loginContainer #loginButton {
  width: 70%;
  height: 100%;
}
.nav-top .searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  position: absolute;
  box-sizing: border-box;
  top: 1em;
}
.nav-top .searchbar-container .borderSearchBar {
  gap: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  min-width: 200px;
  max-height: 50px;
  height: 2em;
  border-radius: 25px 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--orange);
}
.nav-top .searchbar-container .borderSearchBar #searchbar {
  width: 80%;
  height: 70%;
  background: none;
  border: none;
  color: var(--global-font-color);
}
.nav-top .searchbar-container .borderSearchBar #searchButton {
  background: none;
  width: 5%;
  border: none;
}
.nav-top .searchbar-container .borderSearchBar #crab-logo {
  width: 15%;
}
.nav-top .searchbar-container #dropdown {
  position: relative;
  display: grid;
  width: 50%;
  background-color: var(--light-secondary-colour);
  height: 100%;
  min-width: 200px;
  border-radius: 0px 0px 27px 27px;
  z-index: 999;
}
.nav-top .searchbar-container #dropdown .dropdown-item {
  height: 100%;
  padding: 10px;
}

#property-parent-container .boxes-container .right-box .email-btn-container {
  display: flex;
  justify-content: right;
  height: 100%;
}
#property-parent-container .boxes-container .right-box .email-btn-container .email-agent-button {
  padding: 0;
  width: 50%;
}
#property-parent-container .boxes-container .right-box .bottom-container {
  height: 47.5%;
}
#property-parent-container .boxes-container .right-box .bottom-container .map-container {
  height: 100%;
  background-color: var(--main-color);
  border-radius: 15px;
}
#property-parent-container .boxes-container .right-box .top-container {
  display: flex;
  gap: 1em;
  height: 47.5%;
}
#property-parent-container .boxes-container .right-box .top-container .agent-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
#property-parent-container .boxes-container .right-box .top-container .agent-container .agent-container hr {
  width: 100%;
}
#property-parent-container .boxes-container .right-box .top-container .agent-container .agent-title {
  justify-content: center;
}
#property-parent-container .boxes-container .right-box .top-container .agent-container .agent-info-container {
  height: 100%;
  display: grid;
  padding: 1vw;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: var(--main-color);
  font-size: 1vw;
}
#property-parent-container .boxes-container .right-box .top-container .agent-container .agent-info-container .agent-text-container {
  display: inline-flex;
  gap: 0.5em;
}
#property-parent-container .boxes-container .right-box .top-container .agent-container .agent-info-container .agent-text-container .agent-icon {
  display: flex;
  height: 50%;
  width: 15%;
}
#property-parent-container .boxes-container .right-box .top-container .contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--global-font-color);
}
#property-parent-container .boxes-container .right-box .top-container .contact-container .contact-title {
  text-align: center;
}
#property-parent-container .boxes-container .right-box .top-container .contact-container .contact-info-container {
  height: 100%;
}
#property-parent-container .boxes-container .right-box .top-container .contact-container .contact-info-container .contact-form {
  display: grid;
  gap: 3px;
  color: var(--global-font-color);
  font-size: calc(8px + 0.2vw);
  width: 100%;
  height: 100%;
}
#property-parent-container .boxes-container .right-box .top-container .contact-container .contact-info-container .contact-form .contactTextField {
  border-radius: 9px;
  background: #29292c;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  color: var(--global-font-color);
}
#property-parent-container .boxes-container .right-box .top-container .contact-container .contact-info-container .contact-form #message {
  resize: none;
  border-radius: 15px;
  background: #29292c;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  color: white;
}
#property-parent-container .boxes-container .left-box .prop-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}
#property-parent-container .boxes-container .left-box .prop-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  height: 40%;
  min-height: 40%;
  background-color: var(--main-color);
}
#property-parent-container .boxes-container .left-box .prop-images-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#property-parent-container .boxes-container .left-box .prop-images-container #right-arrow-container {
  justify-content: flex-end;
}
#property-parent-container .boxes-container .left-box .prop-images-container .arrowContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#property-parent-container .boxes-container .left-box .prop-images-container .arrowContainer #left-arrow {
  position: absolute;
}
#property-parent-container .boxes-container .left-box .prop-images-container .arrowContainer #right-arrow {
  position: absolute;
}
#property-parent-container .boxes-container .left-box .prop-images-container .arrowContainer .left-right-arrow-images {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
#property-parent-container .boxes-container .left-box .prop-images-container .prop-images {
  width: 100%;
  height: 100%;
}
#property-parent-container .boxes-container .left-box .prop-images-container .prop-images .propertyImage {
  height: 100%;
}
#property-parent-container .boxes-container .left-box .prop-images-container .prop-images .propertyImage img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
#property-parent-container .boxes-container .left-box .prop-desc-container {
  display: grid;
  height: 65%;
}
#property-parent-container .boxes-container .left-box .prop-desc-container .prop-desc {
  width: 100%;
  height: 75%;
  overflow-wrap: break-word;
  /* Set the maximum height at which scrolling will occur */
  overflow-y: auto;
  /* Enable vertical scrolling if necessary */
}

#amenity-parent-container {
  margin: 6em 0 0 0;
}
#amenity-parent-container #left-box-amenity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#amenity-parent-container #left-box-amenity hr {
  width: 100%;
}
#amenity-parent-container #left-box-amenity #amenity-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  padding: 1em;
  background-color: var(--main-color);
}
#amenity-parent-container #left-box-amenity #amenity-item-container #amenity-item-inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(autofill, 1fr);
  /* Default of seven rows */
  grid-gap: 10px;
  height: 100%;
}
#amenity-parent-container #left-box-amenity #amenity-item-container #amenity-item-inner-container .amenity-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 0.5vw);
  border-radius: 15px;
  width: 100%;
  text-align: center;
}
#amenity-parent-container #left-box-amenity #amenity-item-container #amenity-item-inner-container .amenity-item #amenity-img {
  width: 20%;
}
#amenity-parent-container #right-box-amenity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#amenity-parent-container #right-box-amenity #disclaimer {
  font-size: calc(2px + 0.5vw);
}
#amenity-parent-container #right-box-amenity #rating-bars-container {
  height: 60%;
}
#amenity-parent-container #right-box-amenity #rating-bars-container .landlord-rating-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#amenity-parent-container #right-box-amenity #rating-bars-container .landlord-rating-section .rating-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#amenity-parent-container #picture-name-container {
  display: flex;
  align-items: center;
  gap: 3em;
}
#amenity-parent-container #picture-name-container img {
  width: 50%;
  height: 100%;
  border-radius: 9px;
  background-color: var(--main-color);
}
#amenity-parent-container #show-all-container {
  display: flex;
  justify-content: center;
}
#amenity-parent-container #show-all-container input {
  color: var(--global-font-color);
  border-radius: 50px;
  background-color: var(--container-box-color);
  border: var(--orange) 2px solid;
  height: 40px;
  width: 25%;
  min-width: 100px;
}

#comment-parent-container {
  margin: 6em 0 0 0;
  font-family: "Poppins";
}
#comment-parent-container .boxes-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 1em;
}
#comment-parent-container .boxes-container .left-box {
  width: 100%;
  height: 90%;
  background: none;
  padding: 0;
  gap: 1em;
}
#comment-parent-container .boxes-container .left-box .comment-label-container {
  width: 100%;
  height: 10%;
  display: flex;
}
#comment-parent-container .boxes-container .left-box .comment-label-container .commentLabel {
  font-size: 30px;
  padding: 0 2em 0 2em;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--inner-box-color);
}
#comment-parent-container .boxes-container .left-box .comment-section {
  background-color: var(--inner-box-color);
  border-radius: 15px;
}
#comment-parent-container .boxes-container .left-box .comment-section .sort-comments-container {
  width: 100%;
  display: grid;
  justify-content: flex-end;
  padding-top: 1em;
}
#comment-parent-container .boxes-container .left-box .comment-section .sort-comments-container .inner-sort-comments-container {
  height: 100%;
  right: 10%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
#comment-parent-container .boxes-container .left-box .comment-section .sort-comments-container .inner-sort-comments-container #sort-comments {
  height: 100%;
  font-size: calc(10px + 0.7vw);
  border-radius: 20px;
  background-color: var(--main-color);
  border: none;
  color: var(--global-font-color);
}
#comment-parent-container .boxes-container .left-box .comment-section .sort-comments-container .inner-sort-comments-container #sort-comments option {
  width: 45%;
  border: none;
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container {
  display: flex;
  padding: 1em 2em 2em 2em;
  height: 25%;
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .previous-page-container {
  width: 22.25%;
  display: flex;
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .previous-page-container .previous-page-button {
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: var(--main-color);
  color: var(--global-font-color);
  text-wrap: nowrap;
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .previous-page-container .firstOrLastPage {
  color: rgba(217, 217, 217, 0.2);
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .page-number-container {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2px;
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .page-number-container .page-number {
  width: 12%;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
  color: var(--global-font-color);
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .page-number-container .current-page {
  background-color: var(--inner-box-color);
  border: 1px solid var(--orange);
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .next-page-container {
  width: 22.25%;
  display: flex;
  justify-content: flex-end;
}
#comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .next-page-container .next-page-button {
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: var(--main-color);
  color: var(--global-font-color);
  text-wrap: nowrap;
}
#comment-parent-container .boxes-container .left-box .comments-list-container {
  display: flex;
  flex-direction: column;
  padding: 0em 2em 0.5em 2em;
}
#comment-parent-container .boxes-container .left-box .comments-list-container .comment-container {
  font-family: "Poppins";
  margin-top: 1em;
  display: grid;
}
#comment-parent-container .boxes-container .left-box .comments-list-container .comment-container .star-rating-comment {
  color: var(--orange);
}
#comment-parent-container .boxes-container .left-box .comments-list-container .comment-container .username-date-comment {
  font-weight: 600;
  margin: 1em 0 1em 0;
}
#comment-parent-container .boxes-container .left-box .comments-list-container .comment-container .horizontal-line-comment {
  width: 100%;
}
#comment-parent-container .boxes-container .right-box {
  background: none;
  padding: 0;
  height: 90%;
}
#comment-parent-container .boxes-container .right-box .rating-summary-container {
  background-color: var(--inner-box-color);
  padding: 1em 2em 2em 2em;
  border-radius: 15px;
}
#comment-parent-container .boxes-container .right-box .rating-summary-container .commentLabel {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#comment-parent-container .boxes-container .right-box .landlord-rating-summary-container {
  background-color: var(--inner-box-color);
  padding: 2em 2em 2em 2em;
  border-radius: 15px;
}
#comment-parent-container .boxes-container .right-box .landlord-rating-summary-container .star-rating-section {
  text-align: center;
}
#comment-parent-container .boxes-container .right-box .landlord-rating-summary-container .star-rating-section .rating-item .ratingLabels {
  display: inline;
  font-size: calc(5px + 0.8vw);
}
#comment-parent-container .boxes-container .right-box .landlord-rating-summary-container .star-rating-section .rating-item .star-rating .star {
  color: var(--orange);
}

#ratingModal {
  display: flex;
  flex-direction: column;
}
#ratingModal #ratingModalInner {
  width: 80%;
  padding: 0;
  height: 80%;
  background-color: var(--main-color);
  font-family: "Poppins";
  padding: 2em;
}
#ratingModal #ratingModalInner #closeRatingModalBtn {
  position: absolute;
  left: 1%;
  top: 0;
  cursor: pointer;
}
#ratingModal #ratingModalInner #ratingForm {
  display: flex;
  width: 100%;
  height: 100%;
}
#ratingModal #ratingModalInner .rating-section-property {
  width: 60%;
  height: 100%;
  background-color: var(--background_colour);
  border-radius: 15px;
  padding-right: 2em;
}
#ratingModal #ratingModalInner .rating-section-property .rating-modal-header {
  height: 8%;
}
#ratingModal #ratingModalInner .rating-section-property .combined-inline-property {
  display: inline-flex;
  width: 100%;
  height: 92%;
}
#ratingModal #ratingModalInner .rating-section-property .combined-inline-property .star-rating-section {
  height: 100%;
  width: 50%;
}
#ratingModal #ratingModalInner .rating-section-property .combined-inline-property .star-rating-section .rating-item {
  height: 16%;
}
#ratingModal #ratingModalInner .rating-section-property .combined-inline-property .star-rating-section .rating-item .ratingLabels {
  display: inline;
}
#ratingModal #ratingModalInner .rating-section-property .combined-inline-property .star-rating-section #overallRating {
  font-size: 1.2em;
}
#ratingModal #ratingModalInner .rating-section-property .combined-inline-property .star-rating-section .star-rating .star {
  font-size: calc(15px + 1.5vw);
  /* Adjust the size as needed */
  cursor: pointer;
  color: var(--main_colour);
  /* Hollow star color */
  margin-right: 5px;
  /* Adjust the spacing between stars */
}
#ratingModal #ratingModalInner .rating-section-property .combined-inline-property .star-rating-section .star-rating .star.filled {
  color: #ffcc00;
  /* Filled star color */
}
#ratingModal #ratingModalInner .rating-section-with-submit {
  width: 30%;
  left: 5%;
  position: relative;
  height: 100%;
}
#ratingModal #ratingModalInner .rating-section-with-submit .rating-section {
  width: 100%;
  height: 80%;
  background-color: var(--background_colour);
  border-radius: 15px;
}
#ratingModal #ratingModalInner .rating-section-with-submit .rating-section .ratingLabel {
  height: 10%;
}
#ratingModal #ratingModalInner .rating-section-with-submit .rating-section .landlord-rating-section {
  height: 90%;
}
#ratingModal #ratingModalInner .rating-section-with-submit .rating-section .landlord-rating-section .rating-item {
  height: 25%;
}
#ratingModal #ratingModalInner .rating-section-with-submit .rating-section .landlord-rating-section .rating-item .ratingLabels {
  display: unset;
}
#ratingModal #ratingModalInner .rating-section-with-submit .modal-footer {
  height: 20%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
#ratingModal #ratingModalInner .rating-section-with-submit .modal-footer #submitRatingBtn {
  width: 80%;
  height: 50%;
  background-color: var(--inner-box-color);
  font-size: calc(10px + 1vw);
}
#ratingModal #ratingModalInner .review-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
#ratingModal #ratingModalInner .review-section #writeAReview {
  height: 10%;
}
#ratingModal #ratingModalInner .review-section .reviewTextarea {
  height: 80%;
  display: flex;
}
#ratingModal #ratingModalInner .review-section .reviewTextarea #reviewTextarea {
  resize: none;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  font-size: 1em;
  color: var(--secondary_colour);
  background-color: var(--container-box-color);
  border-color: var(--light_secondary_colour);
}
#ratingModal #ratingModalInner .review-section .reviewTextarea #wordCount {
  position: relative;
  width: 0%;
  right: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 1156px) {
  body #property-parent-container .boxes-container .right-box .top-container .agent-container .agent-info-container {
    font-size: 2vw;
  }
  #comment-parent-container .boxes-container {
    flex-direction: column-reverse;
    height: 80%;
  }
  #comment-parent-container .boxes-container .right-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }
  #comment-parent-container .boxes-container .right-box .rating-summary-container {
    width: 50%;
  }
  #comment-parent-container .boxes-container .right-box .rating-summary-container .rating-summary-overall-container {
    font-size: 2.5vw;
  }
  #comment-parent-container .boxes-container .right-box .rating-summary-container .rating-summary-breakdown {
    font-size: calc(10px + 2.5vw);
  }
  #comment-parent-container .boxes-container .right-box .landlord-rating-summary-container {
    width: 50%;
  }
  #comment-parent-container .boxes-container .right-box .landlord-rating-summary-container .star-rating-section .rating-item .star-rating {
    font-size: calc(15px + 1.5vw);
  }
  .prop-desc {
    height: 15em;
    overflow: scroll;
  }
}
@media screen and (max-width: 800px) {
  #property-parent-container .boxes-container .right-box .top-container .agent-container .agent-info-container {
    font-size: 0.8em;
  }
  .nav-top .searchbar-container {
    width: 100%;
  }
  .nav-top #dashboardContainer #openModalBtnDashboard {
    display: block;
  }
  #ratingModal #ratingModalInner .rating-section-property {
    padding: 0;
    width: 50%;
  }
  #ratingModal #ratingModalInner .rating-section-property .combined-inline-property {
    flex-direction: column;
  }
  #ratingModal #ratingModalInner .rating-section-property .combined-inline-property .star-rating-section {
    width: 100%;
  }
  #ratingModal #ratingModalInner .rating-section-with-submit {
    width: 45%;
  }
  #ratingModal #ratingModalInner .review-section {
    display: contents;
  }
  #ratingModal #ratingModalInner .review-section .reviewTextarea {
    height: 55%;
    padding: 1em;
  }
  #ratingModal #ratingModalInner .review-section .reviewTextarea #reviewTextarea {
    height: auto;
    font-size: 1.5em;
  }
  #comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .previous-page-container {
    width: auto;
  }
  #comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .page-number-container .page-number {
    width: auto;
  }
  #comment-parent-container .boxes-container .left-box .comment-section .comment-page-container .next-page-container {
    width: auto;
  }
}
/*# sourceMappingURL=property.css.map */