body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    font-family: "Poppins", "Arial";
    font-size: calc(8px + 0.9vw);
    color: var(--global-font-color);
    background-color: var(--main-color);
}


//////////--------------------------------------------------------------------------------------------//////////

main {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
    height: 100%;
    background-color: var(--main-color);
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 0 0;
    height: 2em;
    
    #dashboardContainer {
        position: relative;
        justify-content: flex-end;
        display: flex;

        #openModalBtnDashboard {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .profileContainer {
        position: relative;
        width: 10%;

        #openModalBtn {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .loginContainer {
        display: flex;
        position: relative;
        width: 10%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 8px;
        padding-right: 18px;

        #loginButton {
            width: 70%;
            height: 100%;
        }
    }

    .searchbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        position: absolute;
        box-sizing: border-box;
        top: 1em;

        .borderSearchBar {
            gap: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            width: 50%;
            min-width: 200px;
            max-height: 50px;
            height: 2em;
            border-radius: 25px 15px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            background-color: var(--orange);
            border: 2px var(--orange) solid;

            #searchbar {
                width: auto;
                height: 70%;
                background: none;
                border: none;
                color: var(--global-font-color);

                // #searchbar input::placeholder {
                //     font-size: 30px;
                // }
            }

            #filterSelect {
                background: transparent;
                border: 2px #ad5511 solid;
                color: var(--global-font-color);
                text-align: center;
                height: 100%;
                border-radius: 0 50px 50px 0;
            }

            option {
                background: var(--main-color);
            }
              

            #searchButton {
                background: none;
                width: 5%;
                border: none;
                border-radius: 50%;
            }

            textarea:focus,
            input:focus {
                // stop weird border in search input
                outline: none;
            }

            #crab-logo {
                width: 5%;
            }
        }

        #dropdown {
            position: relative;
            display: grid;
            width: 50%;
            background-color: var(--inner-box-color);
            border-left: 2px solid var(--orange);
            border-right: 2px solid var(--orange);

            height: 100%;
            min-width: 200px;
            border-radius: 0px 0px 27px 27px;
            z-index: 999;

            .dropdown-item {
                height: 100%;
                padding: 10px;
            }
        }
    }
}

//////////--------------------------------------------------------------------------------------------//////////

#property-parent-container {
    .boxes-container {
        .right-box {
            .email-btn-container {
                display: flex;
                justify-content: right;
                height: 100%;

                .email-agent-button {
                    padding: 0;
                    width: 50%;
                }
            }

            .bottom-container {
                height: 47.5%;

                .map-container {
                    height: 100%;
                    background-color: var(--main-color);
                    border-radius: 15px;
                }
            }

            .top-container {
                display: flex;
                gap: 1em;
                min-height: 45%;

                .agent-container {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    width: 100%;

                    .agent-container hr {
                        width: 100%;
                    }

                    .agent-title {
                        justify-content: center;
                    }

                    .agent-info-container {
                        height: 100%;
                        display: grid;
                        padding: 1vw;
                        flex-wrap: wrap;
                        border-radius: 15px;
                        background-color: var(--main-color);
                        font-size: 1vw;

                        .agent-text-container {
                            display: inline-flex;
                            gap: 0.5em;

                            .agent-icon {
                                display: flex;
                                height: 50%;
                                width: 15%;
                            }
                        }
                    }
                }

                .contact-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    color: var(--global-font-color);

                    .contact-title {
                        text-align: center;
                    }

                    .contact-info-container {
                        height: 100%;

                        .contact-form {
                            display: grid;
                            gap: 3px;
                            color: var(--global-font-color);
                            font-size: calc(8px + 0.2vw);
                            width: 100%;
                            height: 100%;

                            .contactTextField {
                                border-radius: 9px;
                                // height: 1.5em;
                                background: #29292c;
                                border: none;
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: 250;
                                line-height: normal;
                                color: var(--global-font-color);
                            }

                            #message {
                                resize: none;
                                border-radius: 15px;
                                background: #29292c;
                                border: none;
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: 250;
                                line-height: normal;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .left-box {
            .prop-title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5%;
            }

            .prop-images-container {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                width: 100%;
                height: 40%;
                min-height: 40%;
                background-color: var(--main-color);

                .fade {
                    animation-name: fade;
                    animation-duration: 1.5s;
                }

                @keyframes fade {
                    from {
                        opacity: .4
                    }

                    to {
                        opacity: 1
                    }
                }

                #right-arrow-container {
                    justify-content: flex-end;
                }

                .arrowContainer {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    #left-arrow {
                        position: absolute;
                    }

                    #right-arrow {
                        position: absolute;
                    }

                    .left-right-arrow-images {
                        position: relative;
                        background: none;
                        border: none;
                        cursor: pointer;
                    }
                }

                .prop-images {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    .propertyImage {
                        height: 100%;

                        img {
                            height: 100%;
                            width: auto;
                            border-radius: 15px;
                        }
                    }
                }


            }

            .prop-desc-container {
                display: grid;
                height: 65%;

                .prop-desc {
                    width: 100%;
                    height: 75%;
                    overflow-wrap: break-word;
                    /* Set the maximum height at which scrolling will occur */
                    overflow-y: auto;
                    /* Enable vertical scrolling if necessary */
                    // overflow: scroll;
                    // overflow: hidden; /* Hide scrollbars */
                }
            }
        }
    }
}

//////////--------------------------------------------------------------------------------------------//////////

#amenity-parent-container {
    margin: 6em 0 0 0;

    #left-box-amenity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        hr {
            width: 100%;
        }

        #amenity-item-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-radius: 15px;
            padding: 1em;
            background-color: var(--main-color);

            #amenity-item-inner-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(autofill, 1fr);
                /* Default of seven rows */
                grid-gap: 10px;
                height: 100%;

                .amenity-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: calc(10px + 0.5vw);
                    // border: var(--global-font-color) 1px solid;
                    border-radius: 15px;
                    width: 100%;
                    text-align: center;

                    #amenity-img {
                        width: 20%;
                        // height: 10%;
                    }
                }
            }
        }
    }

    #right-box-amenity {
        display: flex;
        flex-direction: column;

        .main-content-landord-container {
            height: 100%;
            display: flex;
            flex-direction: column;

            #picture-name-container {
                display: flex;
                align-items: center;
                gap: 3em;
                height: 30%;

                img {
                    width: 50%;
                    height: 100%;
                    border-radius: 9px;
                    background-color: var(--main-color);
                }
            }

            #disclaimer {
                font-size: 0.5em;
                height: 5%;
                margin-top: 1em;
            }

            #rating-bars-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .landlord-rating-section {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .rating-item {
                        .rating-progress {

                            width: 40%;
                            height: 1vh;
                            background-color: #ccc;
                            border-radius: 5px;


                            .progress-bar {
                                height: 100%;
                                background-color: var(--orange);
                                border-radius: 5px;
                            }
                        }
                    }


                    #overall-rating-item{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: center;

                        .inner-rating-item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background-color: var(--main-color);
                            padding: 1em;
                            border-radius: 15px;

                            #overallLandlordRatingDisplay{
                                width: 100%;
                                // background-color: var(--global-font-color);
                            }
                        }
                    }

                    .rating-item {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;

                        .rating-slider {
                            width: 50%;
                            // background-color: var(--global-font-color);
                        }

                        .rating-label-container {
                            display: inline-flex;
                            align-items: center;
                            gap: 6px;

                        }


                    }
                }
            }
        }

    }


    #show-all-container {
        display: flex;
        justify-content: center;

        input {
            color: var(--global-font-color);
            border-radius: 50px;
            background-color: var(--container-box-color);
            border: var(--orange) 2px solid;
            height: 40px;
            width: 25%;
            min-width: 100px;
        }
    }
}

#comment-parent-container {
    margin: 10em 0 0 0;
    font-family: "Poppins";

    .boxes-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        gap: 1em;

        .left-box {
            width: 100%;
            height: 90%;
            background: none;
            padding: 0;
            gap: 1em;

            .comment-label-container {
                width: 100%;
                height: 10%;
                display: flex;

                .commentLabel {
                    font-size: 30px;
                    padding: 0 2em 0 2em;
                    width: 100%;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                    background-color: var(--inner-box-color);
                }
            }

            .comment-section {
                background-color: var(--inner-box-color);
                border-radius: 15px;

                .sort-comments-container {
                    width: 100%;
                    display: grid;
                    justify-content: flex-end;
                    padding-top: 1em;

                    .inner-sort-comments-container {
                        height: 100%;
                        right: 10%;
                        display: flex;
                        position: relative;

                        align-items: center;
                        justify-content: space-between;

                        #sort-comments {
                            height: 100%;
                            font-size: calc(10px + 0.7vw);
                            border-radius: 20px;
                            background-color: var(--main-color);
                            border: none;
                            color: var(--global-font-color);

                            option {
                                width: 45%;
                                border: none;
                            }
                        }
                    }
                }

                .comment-page-container {
                    display: flex;
                    padding: 1em 2em 2em 2em;
                    height: 2em;

                    .previous-page-container {
                        width: 22.25%;
                        display: flex;

                        .previous-page-button {
                            width: 100%;
                            border-radius: 15px;
                            border: none;
                            background-color: var(--main-color);
                            color: var(--global-font-color);
                            text-wrap: nowrap;
                        }

                        .firstOrLastPage {
                            color: rgba(217, 217, 217, 0.2); //Opacity of 20% with the global font color
                        }
                    }

                    .page-number-container {
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        gap: 2px;

                        .page-number {
                            width: 12%;
                            border-radius: 5px;
                            border: none;
                            background-color: var(--main-color);
                            color: var(--global-font-color);
                        }

                        .current-page {
                            background-color: var(--inner-box-color);
                            border: 1px solid var(--orange);
                        }
                    }

                    .next-page-container {
                        width: 22.25%;
                        display: flex;
                        justify-content: flex-end;

                        .next-page-button {
                            width: 100%;
                            border-radius: 15px;
                            border: none;
                            background-color: var(--main-color);
                            color: var(--global-font-color);
                            text-wrap: nowrap;
                        }
                    }
                }
            }

            .comments-list-container {
                display: flex;
                flex-direction: column;
                padding: 0em 2em 0.5em 2em;

                .comment-container {
                    font-family: "Poppins";
                    margin-top: 1em;
                    display: grid;

                    .star-rating-display {
                        color: var(--orange)
                    }

                    .username-date-comment {
                        font-weight: 600;
                        margin: 1em 0 1em 0;
                    }

                    .description-comment {}

                    .horizontal-line-comment {
                        width: 100%;
                    }
                }
            }
        }

        .right-box {
            background: none;
            padding: 0;
            height: 90%;

            .rating-summary-container {
                background-color: var(--inner-box-color);
                padding: 1em 2em 2em 2em;
                border-radius: 15px;
                display: flex;
                flex-direction: column;

                .star {
                    color: var(--orange);
                }

                .horizontal-line-comment {
                    width: 100%;
                }

                .commentLabel {
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                }

                .horizontal-line-comment {}

                .rating-summary-overall-container {}

                .rating-summary-breakdown {
                    display: flex;
                    flex-direction: column;
                    height: 75%;
                    justify-content: space-around;

                    .breakdown-box {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        justify-content: center;

                        .number {
                            padding: 4px;
                        }

                        .star {
                            color: var(--orange);
                            padding: 4px;
                        }

                        .rating-progress {
                            width: 100%;
                            height: 1vh;
                            background-color: white;
                            border-radius: 5px;

                            .progress-bar {
                                height: 100%;
                                background-color: var(--orange);
                                border-radius: 5px;
                            }
                        }

                        .amount {
                            padding: 4px;
                        }

                        div {
                            display: inline-flex;
                            justify-content: space-between;
                        }
                    }
                }

            }

            .landlord-rating-summary-container {
                background-color: var(--inner-box-color);
                padding: 2em 2em 2em 2em;
                border-radius: 15px;

                .star-rating-section {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .rating-item {
                        height: 20%;

                        .ratingLabels {
                            display: inline;
                            font-size: calc(5px + 0.8vw);
                        }

                        .info-circle {

                            .info-icon {
                                max-height: 15px;
                            }

                            .info-tooltip {}
                        }

                        .star-rating-display {
                            font-size: 2em;

                            .star {
                                color: var(--orange);
                            }
                        }
                    }
                }
            }
        }
    }
}


#ratingModal {
    display: flex;
    flex-direction: column;

    #ratingModalInner {
        width: 80%;
        padding: 0;
        height: 80%;
        background-color: var(--main-color);
        font-family: "Poppins";
        padding: 2em;

        #closeRatingModalBtn {
            position: absolute;
            left: 1%;
            top: 0;
            cursor: pointer;
        }

        #ratingForm {
            display: flex;
            width: 100%;

            height: 100%;
        }

        .rating-section-property {
            width: 60%;
            height: 100%;
            background-color: var(--background_colour);
            border-radius: 15px;
            padding-right: 2em;

            .rating-modal-header {
                height: 8%;
            }

            .combined-inline-property {
                display: inline-flex;
                width: 100%;
                height: 92%;

                .star-rating-section {
                    height: 100%;
                    width: 50%;

                    .rating-item {
                        height: 16%;

                        .ratingLabels {
                            display: inline;
                        }
                    }

                    #overallRating {
                        font-size: 1.2em;
                    }

                    .star-rating .star {
                        font-size: calc(15px + 1.5vw);
                        /* Adjust the size as needed */
                        cursor: pointer;
                        color: var(--main_colour);
                        /* Hollow star color */
                        margin-right: 5px;
                        /* Adjust the spacing between stars */
                    }

                    .star-rating .star.filled {
                        color: #ffcc00;
                        /* Filled star color */
                    }
                }
            }
        }

        .rating-section-with-submit {
            width: 30%;
            left: 5%;
            position: relative;
            height: 100%;

            .rating-section {
                width: 100%;
                height: 80%;
                background-color: var(--background_colour);
                border-radius: 15px;

                .ratingLabel {
                    height: 10%;
                }

                .landlord-rating-section {
                    height: 90%;

                    .rating-item {
                        height: 25%;

                        .ratingLabels {
                            display: unset;

                            .info-circle {
                                //this is the info circle on the inside of the rating modal
                                height: 15px;

                                .info-icon {
                                    height: 15px;
                                }
                            }
                        }

                    }
                }
            }

            .modal-footer {
                height: 20%;
                justify-content: center;
                align-items: flex-end;
                display: flex;

                #submitRatingBtn {
                    width: 80%;
                    height: 50%;
                    background-color: var(--inner-box-color);
                    font-size: calc(10px + 1vw);
                }
            }
        }

        .review-section {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;

            #writeAReview {
                height: 10%;
            }

            .reviewTextarea {
                height: 80%;
                display: flex;

                #reviewTextarea {
                    resize: none;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    font-size: 1em;
                    color: var(--secondary_colour);
                    background-color: var(--container-box-color);
                    border-color: var(--light_secondary_colour);
                }

                #wordCount {
                    position: relative;
                    width: 0%;
                    right: 2%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    justify-content: flex-end;
                }
            }
        }
    }
}


@media screen and (max-width: 1156px) {

    body #property-parent-container {
        .boxes-container {
            .right-box {
                .top-container {
                    .agent-container {
                        .agent-info-container {
                            font-size: 2vw;
                        }
                    }
                }
            }
        }
    }


    #comment-parent-container {

        .boxes-container {
            flex-direction: column-reverse;
            height: 80%;

            .right-box {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: 6em 0 0 0;

                .rating-summary-container {
                    width: 50%;
                    min-width: 35%;

                    .rating-summary-overall-container {
                        font-size: 2.5vw;
                    }

                    .rating-summary-breakdown {}
                }

                .landlord-rating-summary-container {
                    display: flex;
                    align-items: center;

                    .star-rating-section {
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: wrap;

                        .rating-item {
                            display: flex;
                            gap: 1em;
                            width: 100%;
                            justify-content: space-between;

                            .star-rating {
                                font-size: calc(15px + 1.5vw);
                            }
                        }
                    }
                }
            }
        }
    }

    .prop-desc {
        height: 15em;
        overflow: scroll;
    }
}

@media screen and (max-width: 800px) {

    #property-parent-container {
        .boxes-container {
            .right-box {
                .top-container {
                    .agent-container {
                        .agent-info-container {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }

    .nav-top {
        .searchbar-container {
            width: 100%;
        }
        
        #dashboardContainer {
            #openModalBtnDashboard {
                display: block;
            }
        }
    }

    #ratingModal {
        #ratingModalInner {
            .rating-section-property {
                padding: 0;
                width: 50%;

                .combined-inline-property {
                    flex-direction: column;

                    .star-rating-section {
                        width: 100%;
                    }
                }
            }

            .rating-section-with-submit {
                width: 45%;
            }

            .review-section {
                display: contents;

                .reviewTextarea {
                    height: 55%;
                    padding: 1em;

                    #reviewTextarea {
                        height: auto;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    #comment-parent-container {
        .boxes-container {
            .left-box {
                .comment-section {
                    .comment-page-container {
                        .previous-page-container {
                            width: auto;
                        }

                        .page-number-container {
                            .page-number {
                                width: auto;
                            }
                        }

                        .next-page-container {
                            width: auto;
                        }
                    }
                }
            }

            .right-box {


                .rating-summary-container {
                    width: 50%;

                    .rating-summary-overall-container {}

                    .rating-summary-breakdown {
                        input {
                            width: 75%;
                        }
                    }
                }

                .landlord-rating-summary-container {
                    width: 50%;

                    .star-rating-section {


                        .rating-item {
                            gap: 0;
                            flex-direction: column;

                            .star-rating-display {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Tooltips Generic
/* Style for the info circle */
.info-circle {
    position: relative;
    display: inline-block;
    width: 15px;

    /* Adjust spacing */
    /* Style for the info icon (i) inside the circle */
    .info-icon {
        display: flex;
        border: 1px solid var(--orange);
        border-radius: 50%;
        width: 100%;
        font-size: 0.6em;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: var(--orange);
        height: 15px;

        /* Icon color */
    }

    /* Style for the info tooltip */
    .info-tooltip {
        display: none;
        position: absolute;
        background-color: var(--orange);
        /* Tooltip background color */
        border: 1px solid var(--orange);
        padding: 10px;
        /* Adjust padding */
        border-radius: 5px;
        width: 200px;
        /* Adjust width */
        top: 0;
        left: 110%;
        /* Position it to the right of the circle */
        z-index: 1;
        /* Ensure it's above other content */
    }
}

/* Show the tooltip when hovering over the info circle */
.info-circle:hover .info-tooltip {
    display: block;
}

//slidders/////////////////////////////

/* Style for the rating sliders */
.rating-slider {
    position: relative;
    width: 70%;
    display: inline-flex;
}

/* Adjust the background color and appearance of the slider and thumb */
.slider {
    accent-color: var(--orange);
    border: 0;
    outline: none;
    width: 100%;
    height: 5px;
    /* Adjust the height of the slider */
    background: linear-gradient(to right,
            var(--main_colour) 0%,
            var(--main_colour) var(--value, 0%),
            #ccc var(--value, 0%),
            #ccc 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
    /* Rounded slider track */
}

/* Style for the slider thumb (dot/selector) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    /* Adjust the width of the thumb */
    height: 15px;
    /* Adjust the height of the thumb */
    background: var(--main_colour);
    /* Slider thumb color */
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 15px;
    /* Adjust the width of the thumb */
    height: 15px;
    /* Adjust the height of the thumb */
    background: var(--main_colour);
    /* Slider thumb color */
    cursor: pointer;
    border-radius: 50%;
}

/* Style for the slider value display */
.slider-value {
    display: inline-block;
    margin-left: 5px;
    /* Adjust spacing */
}

////////////////////////////////////////////////////////////Modal stuff and aditional review modal stuff
/*# sourceMappingURL=property.css.map */