@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,800;1,400&display=swap");
:root {
  --bg-sidebar-cont-width: 15%;
  --main-width: 85%;
  --sidebar-color: #202024;
  --main-color: #29292c;
  --container-box-color: #202024;
  --inner-box-color: #202024;
  --global-font-color: #d9d9d9;
  --orange: #ad5511;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial";
  font-size: calc(8px + 0.9vw);
  color: var(--global-font-color);
  background-color: var(--main-color);
}

main {
  display: flex;
  flex-direction: column;
  width: var(--main-width);
  height: 100%;
  background-color: var(--main-color);
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0 0;
}
.nav-top .profile-container {
  right: 3%;
  position: relative;
}
.nav-top .profile-container .profile {
  background: none;
  border: none;
  cursor: pointer;
}
.nav-top .profile-container .profile #openModalBtn {
  cursor: pointer;
  background: none;
  border: none;
}

#property-parent-container .boxes-container .right-box .bottom-container {
  height: 100%;
}
#property-parent-container .boxes-container .right-box .bottom-container .map-container {
  height: 100%;
  background-color: var(--main-color);
  border-radius: 15px;
}
#property-parent-container .boxes-container .left-box .prop-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 100%;
}
#property-parent-container .boxes-container .left-box .prop-title-container .prop-title {
  width: 100%;
}
#property-parent-container .boxes-container .left-box .prop-title-container .prop-title .title-text-field {
  background: none;
  color: var(--global-font-color);
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Poppins;
  border-color: var(--global-font-color);
  border-style: dashed;
  border-radius: 9px;
}
#property-parent-container .boxes-container .left-box .prop-desc-container {
  width: 100%;
  height: 47.5%;
}
#property-parent-container .boxes-container .left-box .prop-desc-container .prop-desc {
  width: 100%;
  height: 100%;
}
#property-parent-container .boxes-container .left-box .prop-desc-container .prop-desc .description-text-field {
  background: none;
  color: var(--global-font-color);
  height: 100%;
  width: 100%;
  font-family: Poppins;
  border-color: var(--global-font-color);
  border-style: dashed;
  border-radius: 12px;
  resize: none;
  word-wrap: break-word;
  font-size: calc(8px + 0.6vw);
}
#property-parent-container .boxes-container .left-box .prop-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  height: 30%;
  background-color: var(--main-color);
}
#property-parent-container .boxes-container .left-box .prop-images-container .select-images-overlay {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
#property-parent-container .boxes-container .left-box .prop-images-container .select-images-overlay .inputfile {
  display: none;
}

#ammenities-parent-container {
  margin: 6em 0 0 0;
}
#ammenities-parent-container .amen-addmore-container {
  justify-content: center;
  display: flex;
}
#ammenities-parent-container .amenities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
}
#closeAddTenantButton {
  top: 10px;
  right: 10px;
  font-size: 1em;
  position: absolute;
}

/*# sourceMappingURL=styleCreate.css.map */