@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,800;1,400&display=swap');
//Sets background colour
html {
    background-color: #202024;
    font-family: "Poppins";
}
body{font-family: "Poppins";}




.nav {
    .navContainer {
        width: 100%;
        height: 10vh;
        display: grid;
        grid-template-columns: 50% 50%;

        .dash {
            width: 10%;
            height: 70%;
            display: flex;
            min-width: 5vh;
        }
    }

    .loginContainer {
        width:90px;
        .login{
            width: 100%;
        }
    }
}

.mainContainer {
    position: relative;
    margin-top: 10vh;

    .logoContainer {
        display: block;
        width: 50%;
        margin: auto;
        min-width: 40vh;

        .mainLogoImage {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    //https://codepen.io/huange/pen/bGqMqM
    .searchBarContainer {
        position: relative;
        top:5vh;
        .searchBar {
            position: relative;
            display: flex;
            margin: auto;
            border: 2px solid #564B40;
            border-radius: 50px;
            width: 60%;
            min-width: 40vh;
            text-align:center;
            .searchTerm {
                position: absolute;
                box-sizing: border-box;
                height: 60px;
                width: 100%;
                border:none;
                border-radius: 50px;
                background: none;
                color: #D9D9D9;
                outline:none;
                text-align:center;
                font-size:calc(5px + 1.2vw);
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

                
            }
            ::placeholder{
                color: #D9D9D9;
                font-weight: 500;
            }
            .searchButton {
                height: 60px;
                width: 50px;
                text-align: center;
                cursor: pointer;
                background: none;
                border: none;
                min-width: 2vh;
                .svgSearch {
                    width: 70%;
                    height: 100%;
                    text-align: center;
                }
            }


        }



    }
}